.buttonLarge {
    background-color: rgba(255, 0, 0, 0.809);
    color: white;
    outline-style: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 24px;
    border-radius: 10px;
    cursor: pointer;
}