.popup {
    position: absolute;
    width: 480px;
    height: 100vh;
    top: 100%;
    left: 60%;
    background-color: white;
    display: none;
    border: 2px solid green;

}

.openPopup {
    display: block;
}